table{
  tr{
    border: 1.5px solid #D4D6D7;

    th, td{
      padding: 10px;
    }
    th{
      border: 1.5px solid #D4D6D7;
    }
  }
}
.text-blue{
  color: deepskyblue;
  font-weight: bold;
}
